################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datingapp.db-shm
/datingapp.db-wal
